/* Dashboard conent  */

.module{
    height: var(--card-height);
    width: var(--card-width);
    border-radius: var(--card-border-radius);
    box-shadow: var(--shadow);

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--subheadings);
    font-family: var(--font-display);

    border: 2px solid transparent;
    cursor: pointer;
    touch-action: manipulation;

    transition:
        transform 0.25s ease,
        box-shadow 0.25s ease,
        border-color 0.25s ease;
}

/* Desktop hover + mobile tap */
.module:hover,
.module.active{
    border-color: black;
    transform: translateY(-4px);
}
@media (hover: hover) {
    .module:hover{
        transform: translateY(-4px);
    }
}

.logo{
    font-size: var(--heading);
    font-family: var(--font-main)
}
.header-container {
    display: flex;
    /* grid-template-columns: auto 1fr auto;
    align-items: center; */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #555;
    font-family: var(--font-display);
}

.header-right {
    display: flex;
    align-items: center;
}

#breadcrumb {
    font-size: 14px;
    color: #444;
    cursor: default;
    user-select: none;
}

.crumb {
    cursor: pointer;
    color: #444;
}

.crumb:hover {
    text-decoration: underline;
}

.breadcrumb-item:hover {
    text-decoration: underline;
}

.crumb.active {
    font-weight: 600;
    cursor: default;
    text-decoration: underline;
}

.sep {
    margin: 0 6px;
    color: #aaa;
}


